DB_USER=db_user
DB_PASSWORD=db_password
DB_NAME=db_name
DB_PORT=5432
DB_HOST=localhost

SECRET_KEY=##################
ALGORITHM=HS256

REDIS_URL=redis://localhost:6379

S3_KEY_ID=...
S3_SECRET_KEY=...
S3_BUCKET_NAME=...

FORCE_DEVICE=cpu

LOG_LEVEL=DEBUG